* {
    margin: 0;
    padding: 0;
    color: white;
}



.container {
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: end;
    height: 50px;
}

.container p {
    margin: 16px 10px;
}

.vector,
.phone {
    height: 30px;
    margin-top: 7px;
    border: 4px solid green;
    margin: 4px;
}

.line {
    background-color: #1D9E69;
    width: 100%;
    height: 10px;
    top: 64px;
    left: -4px;
}

.navbar {
    background-color: black;
    width: 100%;
    height: 265px;
}

.navbar ul {
    display: flex;
    justify-content: center;

}

.navbar ul li {
    list-style: none;
    margin: 98px 26px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    line-height: 23.75px;
}

.logo {
    width: 326px;
    height: 209px;
    left: 794px;
    top: 44px
}

.btnnav {
    width: 130px;
    height: 32px;
    margin-top: 93px;
    background-color: #1D9E69;
    color: white;
    border: 2px solid #1D9E69;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s;
}
.btnnav:hover{
    background-color: #0e3e28;
}

.home {
    background-color: black;
    height: 750px;
    width: 100%;
    border-radius: 0px;
    position: relative;
    }

.C1 {
    height: 151px;
    width: 509px;
    left: 183px;
    top: 331px;
    border-radius: nullpx;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: center;
    color: #1D9E69;
}

.C2 {
    height: 214px;
    width: 511px;
    left: 190px;
    top: 489px;
    border-radius: nullpx;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: center;
}

.btn1 {
    background: transparent;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    border: 2px solid #1D9E69;
    padding: 20px;
}

.btn2 {
    background: #1D9E69;
    color: white;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    border: 2px solid #1D9E69;
    padding: 20px;
    margin: 0 70px;
}

.truck1 {
    position: absolute;
    width: 1000px;
    height: 600px;
    left: 349px;
    top: 80px;
}
.experience{
    color: white;
    width: 100%;
    height: 100px;
    background-color: #1D9E69;
    position: relative;
}